@font-face {font-family: "iconfont";
  src: url('../icons/iconfont.ttf?t=1530168686053') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roundcheckfill:before { content: "\e656"; }

.icon-roundcheck:before { content: "\e657"; }

.icon-round:before { content: "\e6d7"; }

.icon-profilefill:before { content: "\e77a"; }

.icon-menu:before { content: "\e630"; }

.icon-bumen:before { content: "\e61a"; }


.tree-wrap {
  width: 90%;
}
.tree-node-wrap {
  line-height: 34px;
  list-style: none;

  .tree-children {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;
  }

  &.tree-node-open {
    > .tree-node {
      .node-control {
        &::before {
          transform: rotate(45deg) translateX(2px);
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
          transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:after {
          transform: rotate(-45deg) translateX(-2px);
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
          transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }
    > .tree-children {
      max-height: 99999px;
    }
  }
}

.tree-node {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .node-control {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
    width: 20px;
    height: 33px;

    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: relative;
      top: 1px;

      width: 6px;
      height: 1.5px;

      border-radius: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    }
    &:before {
      transform: rotate(-45deg) translateX(2px);
      transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &:after {
      transform: rotate(45deg) translateX(-2px);
      transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  .node-text {
    position: relative;
    width: calc(100% - 20px);
    cursor: pointer;
    > span {
      display: inline-block;
      width: calc(100% - 25px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      i {
        margin: 0 10px;
      }
    }
    .icon-menu {
      position: absolute;
      right: 0;

      display: none;
      cursor: pointer;
    }
    .icon-round, .icon-roundcheckfill {
      position: absolute;
      right: 0;

      font-size: 20px;
      color: #999;
    }
    &.active {
      color: deepskyblue;
      .icon-menu {
        display: inline;
      }
      .icon-round {
        color: #999;
      }
    }
    &.disabled {
      color: #999;
      cursor: not-allowed;
      &:hover {
        font-weight: normal;
      }
    }
    &:hover {
      font-weight: bold;
      i {
        font-weight: normal;
      }
    }
  }
}

.operate-menu {
  position: absolute;
  z-index: 100;

  display: none;
  padding: 4px 0;
  margin: 0;

  user-select: none;
  list-style: none;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  &.open {
    display: block;
  }
  li {
    padding: 5px 12px;
    margin: 0;

    font-size: 14px;
    color: rgba(0,0,0,.65);
    white-space: nowrap;
    line-height: 22px;

    cursor: pointer;
    transition: all .3s;

    &:hover {
      background: #e6f7ff;
    }
  }
}
